

:root {
  --pinkorchid: #D1B1C8;
  --amethystsmoke: #AB8BC9;
  --powderblue: #B1B7D1;
  --lavandergray: #828AB6;
  --grapesoda: #7B4A6C;
  --blackberrycream: #623156;
}

#bombom{
    background-color: #D1B1C8;
    color: #828AB6;
}


*{
  background-color: aliceblue;
}

h1 {
  background-color: #B1B7D1;
}

#parag{
color: var(--blackberrycream);
  background-color: #B1B7D1;
}

#head{
  color: var(--blackberrycream);
  background-color: #B1B7D1;
  padding: 30px 15px 20px;
}