@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&display=swap");

:root {
  /* --- */
  --emerald: #52b56b;
  --cherryblossom:#ffb0c8;
  --blushrose:#ca6689;
  --cottonrose:#ffd1d5;
  --bubblegumtint:#E58BA9;
  --mutedolive:#B5CE8F;
  --brancorosado:#ffeff2;
}

body {
  font-family: "Edu SA Hand", "Times New Roman", Times, serif;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #52b56b;
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  font-family: "Edu SA Hand", "Times New Roman", Times, serif;
  color: #21A241;
}

label {
  font-family: "Edu SA Hand", "Times New Roman", Times, serif;
  color: #21A241;
}

select  {
  font-family: "Edu SA Hand", "Times New Roman", Times, serif;
  color:#21A241;
}

option  {
  font-family: "Edu SA Hand", "Times New Roman", Times, serif;
  color:#21A241;
}

#tabela {
  color: #CA6689;
  text-align: center;
  background-color: #FFB0C8;
}

.negrito {
  font-weight: bold;
}

.radio {
  color: var(--blushrose);
}

p.courier {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1,
h2,
h3 {
  font-style: italic;
}

button {
  color: #21A241;
}
form button {
  background-color:#21A241;
}

img {
  height: 20rem;
  border-radius: 10px;
}

#laufey {
  eight: 20rem;
  border-radius: 50;
}